body, .grid{
    display:flex; flex-direction: column;align-items: center;
    
}

.container {
    margin:30px;
}

.grid{
    justify-content:space-between;
    border:1px solid black;
    height:700px;
    width:700px;
}

.rows, .box{
    display: flex;justify-content: space-between;flex: auto;
}
.rows{
    width:700px;
    min-height:2px;
}

.box{
    border:1px dotted grey;
    min-height:2px;min-width:2px;
}

.colored{
    background:palevioletred;
}

.randomcolored{
    background:red;
}